body.light {
  --navbar-color: rgb(86, 86, 255);
  --navbar-items-color: rgba(255, 255, 255, 0.95);
  --profile-right-bg: #efefef;
  --profile-picture-add: #dfdfdf;
  --field-label: #b6b6b6;
  --field-content: rgba(0, 0, 0, 0.8);
  --profile-picture: #d9d9d9;
  --profile-picture-bottom: #c9c9c9;
  --ppcr-title: #a5a5a5;
  --button-text: rgba(255, 255, 255, 0.95);
  --button-hover: darkblue;
  --button-active: royalblue;
  --button-hover-sec: #5a6268;
  --button-active-sec: #4e555b;
}

body.dark {
  --navbar-items-color: rgb(0, 0, 0);
}

#navbar-component {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 21px;
  background-color: var(--navbar-color);
  color: var(--navbar-items-color);
}
#navbar-component .logo-light,
#navbar-component .logo-dark {
  width: 8%;
  min-width: 120px;
  cursor: pointer;
}
#navbar-component p {
  margin: 0%;
}
#navbar-component #nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  width: 90%;
  font-size: 18px;
}
#navbar-component #nav-items #nav-items-left {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}
#navbar-component #nav-items #nav-items-left p {
  cursor: pointer;
}
#navbar-component #nav-items #nav-items-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  margin-right: 18px;
}
#navbar-component #nav-items #nav-items-right .notifs-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#navbar-component #nav-items #nav-items-right .notifs-dropdown *:not(.ant-scroll-number) {
  height: 28px;
}
#navbar-component #nav-items #nav-items-right .notifs-dropdown img {
  width: 20px;
  cursor: pointer;
}
#navbar-component #nav-items #nav-items-right p {
  cursor: pointer;
}
#navbar-component #nav-items #nav-items-right .ant-btn {
  height: 45px;
  width: 105px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-evenly;
  align-items: center;
  color: var(--navbar-items-color);
}
#navbar-component #nav-items #nav-items-right .ant-btn p {
  margin: 0%;
}

.logo-light,
.notifs-light {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.logo-dark,
.notifs-dark {
  filter: brightness(0);
  -webkit-filter: brightness(0);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--navbar-items-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underlined-item {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.ant-button-icon img {
  width: fit-content;
}

.field-component {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.field-component p {
  margin: 0;
}
.field-component .field-label {
  color: var(--field-label);
}
.field-component .field-content {
  color: var(--field-content);
}

#profile-picture-component {
  width: 260px;
  height: 240px;
  background-color: var(--profile-picture);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
#profile-picture-component img#camera {
  margin: 12px 0px 0px 12px;
  opacity: 0.7;
}
#profile-picture-component .anticon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#profile-picture-component .anticon svg {
  width: 160px !important;
  height: 160px !important;
  opacity: 80%;
}
#profile-picture-component #pp-bottom {
  width: 152px;
  height: 30px;
  background-color: var(--profile-picture-bottom);
  border-radius: 50px 50px 0 0;
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  -ms-border-radius: 50px 50px 0 0;
  -o-border-radius: 50px 50px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  text-align: center;
}
#profile-picture-component #pp-bottom p {
  height: 100%;
  margin: 0%;
  line-height: 30px;
  font-weight: 800;
  opacity: 80%;
}

/*# sourceMappingURL=components.css.map */
