body.light {
  --navbar-color: rgb(86, 86, 255);
  --navbar-items-color: rgba(255, 255, 255, 0.95);
  --page-item-bg: #efefef;
  --profile-picture-add: #dfdfdf;
  --field-label: #b6b6b6;
  --field-content: rgba(0, 0, 0, 0.8);
  --profile-picture: #d9d9d9;
  --profile-picture-bottom: rgba(255, 255, 255, 0.7);
  --ppcr-title: #a5a5a5;
  --button-text: rgba(255, 255, 255, 0.95);
  --button-hover: darkblue;
  --button-active: royalblue;
  --button-hover-sec: #5a6268;
  --button-active-sec: #4e555b;
  --error-msg: #dc3545;
  --footer-bg-color: #efefef;
  --table-border-color: #f0f0f0;
}

body.dark {
  --navbar-items-color: rgb(0, 0, 0);
}

#home-page,
#profile-page,
#attendance-page,
#register-page,
#login-page,
#notfound-page {
  height: fit-content;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#profile-page #profile-page-content {
  box-sizing: border-box;
  padding: 12px 12px 12px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
#profile-page #profile-page-content #profile-page-content-left {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#profile-page #profile-page-content #profile-page-content-left .ant-select {
  width: 85% !important;
}
#profile-page #profile-page-content #profile-page-content-left .ant-select-selection-item {
  max-height: 30px !important;
}
#profile-page #profile-page-content #profile-page-content-right {
  margin-right: 8px;
  box-sizing: border-box;
  padding: 26px;
  width: 80%;
  height: 100%;
  min-height: fit-content;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: var(--page-item-bg);
  margin: auto;
}
#profile-page #profile-page-content #profile-page-content-right .form-btns .anticon {
  margin-right: 8px;
  width: 16px;
}
#profile-page #profile-page-content #profile-page-content-right .edit-icon {
  cursor: pointer;
}
#profile-page #profile-page-content #profile-page-content-right .ppcr-title {
  font-weight: 700;
  color: var(--ppcr-title);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}
#profile-page #profile-page-content #profile-page-content-right hr {
  width: 95%;
}
#profile-page #profile-page-content #profile-page-content-right .custom-row {
  height: 90px !important;
}
#profile-page #profile-page-content #profile-page-content-right #username {
  font-weight: 700;
  margin-top: 0%;
}
#profile-page #profile-page-content #profile-page-content-right h1 {
  margin-bottom: 0%;
}
#profile-page #profile-page-content #profile-page-content-right .custom-button {
  background-color: var(--navbar-color);
  color: var(--button-text);
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}
#profile-page #profile-page-content #profile-page-content-right .custom-button:hover {
  background-color: var(--button-hover) !important;
}
#profile-page #profile-page-content #profile-page-content-right .custom-button:active {
  background-color: var(--button-active) !important;
  box-shadow: none !important;
  outline: none !important;
}
#profile-page #profile-page-content #profile-page-content-right .btn-outline-secondary:hover {
  background-color: var(--button-hover-sec) !important;
}
#profile-page #profile-page-content #profile-page-content-right .btn-outline-secondary:active {
  background-color: var(--button-active-sec) !important;
  box-shadow: none !important;
  outline: none !important;
}

.error-msg {
  color: var(--error-msg);
  font-size: 14px;
  font-weight: 500;
}

#register-form-container {
  width: 550px;
  background-color: var(--page-item-bg);
  padding: 26px;
  margin: 26px;
  box-sizing: border-box;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#register-form-container h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 26px;
  color: var(--field-content);
}
#register-form-container .ant-row {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#register-form-container label {
  margin-right: 100%;
}
#register-form-container .ant-picker {
  width: 100%;
}
#register-form-container .ant-btn {
  width: 100%;
}

#webcam-container {
  padding: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
#webcam-container video {
  border: 2px solid #000;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.webcam-buttons {
  width: 550px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.webcam-buttons button {
  font-size: 15px !important;
  width: 150px !important;
}

#attendance-content {
  width: 100%;
  height: 75vh;
  max-height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#attendance-content #attendance-filters {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#attendance-content #attendance-filters .ant-select,
#attendance-content #attendance-filters .ant-picker {
  width: 85% !important;
  margin-bottom: 26px;
}
#attendance-content #attendance-filters .ant-select-selection-item {
  max-height: 30px !important;
}
#attendance-content #attendance-container {
  height: 100%;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  margin-right: 0px;
}
#attendance-content #attendance-container .ant-table {
  border-left: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
}
#attendance-content #attendance-container .ant-pagination {
  margin-right: 36px;
}
#attendance-content #inputs {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*# sourceMappingURL=pages.css.map */
