body.light {
    --navbar-color: rgb(86, 86, 255);
    --navbar-items-color: rgba(255, 255, 255, 0.95);
    --profile-right-bg: #efefef;
    --profile-picture-add: #dfdfdf;
    --field-label: #b6b6b6;
    --field-content: rgba(0, 0, 0, 0.8);
    --profile-picture: #d9d9d9;
    --profile-picture-bottom: #c9c9c9;
    --ppcr-title: #a5a5a5;
    --button-text: rgba(255, 255, 255, 0.95);
    --button-hover: darkblue;
    --button-active: royalblue;
}

body.dark {
    // --navbar-color: rgb(86, 86, 255);
    --navbar-items-color: rgb(0, 0, 0);
}
